.container{
    background-color: red;
    text-align: center;
   
    

}
body{
    background-image: url(resources/mypic2.png);
}
 
    


.column1 {
    float: left;
    width: 50%;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .title{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }