*{
    box-sizing: border-box;
}
body{
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f9;
        color: #333;
        line-height: 1.6;
}

header{
    background-color: rgb(2, 2, 98);
    color: aliceblue;
    
}
header ul li{
    display: inline-block;
    margin:  15px;
}
main img{
    width: 100%;
}
.picture{
    height: 70%;
}
.picture p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}
.information{
    height: 30%;
    
}